<launch>
  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find wandering_robot)/maps/classroom_incomplete.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the wandering robot -->
  <node pkg="wandering_robot" name="mi_visualizer" type="mi_visualizer" output="screen">
    <rosparam command="load" file="$(find wandering_robot)/launch/params.yaml"/>
  </node>
</launch>
