<launch>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find range_mi)/maps/classroom_incomplete_small.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the visualizer -->
  <node pkg="range_mi" name="monte_carlo_mi" type="monte_carlo_mi" output="screen">
    <rosparam command="load" file="$(find range_mi)/launch/params.yaml"/>
  </node>

</launch>
